.appBox {
  background: linear-gradient(rgba(1, 1, 1, 0.4), rgba(1, 1, 1, 0.4)),
    url('../public/imgs/phaserMainBg.png') no-repeat;
  object-fit: cover;
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  height: 100vh;
}

.appBox .appMainBox {
  position: relative;
  top: 3.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));
  height: calc(100vh - 6rem);
  gap: 1rem;
}

.appBox .appMainBox .imgBox {
  height: 26rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.appBox .appMainBox .imgBox::before {
  position: absolute;
  top: 50%;
  left: 45%;
  content: 'Open It!!';
  color: white;
  z-index: 99;
  font-size: xx-large;
  font-weight: bolder;
}

.appBox .appMainBox .imgBox:hover img {
  opacity: 1;
  width: 100%;
  height: 100%;
}

.appBox .appMainBox .imgBox:hover::before {
  color: darkorange;
  transform: scale(1.2);
}

.appBox .appMainBox .imgBox:active img {
  width: 90%;
  height: 90%;
  opacity: 0.9;
}

.appBox .appMainBox .imgBox:active::before {
  color: white;
  transform: scale(1);
}

.appBox .appMainBox .imgBox img {
  width: 90%;
  height: 90%;
  opacity: 0.9;
  border: 0.4rem solid darkorange;
}
